@use 'reset';
@use 'vars';
@use 'header';
@use 'common';
@use 'mediQ';


@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');


/* main scss */
body {
  font-family: 'Poppins', sans-serif;

}
// Lates news sekcija


.late-news {
  background-color: #333;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 5%;

  .container> .btn {
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.news-posts{
  display: grid;
  gap: 1rem;
}

  .news__title {
    text-align: center;
    font-size: 2rem;
  }
  .news__subtitle {
    font-weight: 300;
    text-align: center;
  }


  .single-post {
    display: flex;
    flex-direction: column;
   

    &__description {
      background-color: #fff;
      color: #333;
      padding: 1rem;
    }
    &__title {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      &:hover {
        color: #f1d204;
      }
    }
    &__short {
      margin-bottom: 2rem;

    }
    &__link {
      color: #f1d204;
    }
  }
}

// Cqaunter sect

.caunters {
  padding: 5rem 0;
  background-color: orchid;
  background: url(../img/count-bg.jpg ) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  
  
}
.caunterConteiner {
  display: flex;
  flex-direction: column;
}
.caunter {
  color: #fff;
  font-size: 3rem;
  justify-content: center;
  text-align: center;
  margin: 0;
}
.caunter h2 {
margin-bottom: 0;
}
.caunter h6 {
  font-size: 1.5rem;
  
}
@media screen and (min-width: 600px) {
  .caunterConteiner {
    flex-direction: row;
    
  }
  .caunter {
    width: 33.33%;
    line-height: 1;
  }
  .caunter h6 {
margin-bottom: 0;
  }
  .card1 {
    border-right: 1px solid #fff;
  }
  .card2 {
    border-right: 1px solid #fff;
    
  }
}
